# cloudflare D1 database env variables
CLOUDFLARE_D1_DATABASE_ID="...................................."
CLOUDFLARE_D1_BEARER_TOKEN="..........................................."
CLOUDFLARE_ACCOUNT_ID="..................................."

# randomly generated secret -> bun test/jwt.ts
JWT_SECRET="......................................................."

# discord client oauth2 env variables
CLIENT_ID=".................."
CLIENT_SECRET="................................."
REDIRECT_URI="https://..................../api/auth/authorize"
LOCAL_REDIRECT_URI="http://localhost:8787/api/auth/authorize"

# optional and only used for Silly cron schedule
CLIENT_TOKEN="Bot ...................................................."