# cloudflare D1 database env variables
CLOUDFLARE_D1_DATABASE_ID="...................................."
CLOUDFLARE_D1_BEARER_TOKEN="..........................................."
CLOUDFLARE_ACCOUNT_ID="..................................."

# randomly generated secret
JWT_SECRET="......................................................."

# discord client oauth2 env variables
CLIENT_ID=".................."
CLIENT_SECRET="................................."
REDIRECT_URI="https://..................../api/auth/authorize"
LOCAL_REDIRECT_URI="http://localhost:3000/api/auth/authorize"

# optional and only used for /api/silly
CLIENT_TOKEN="Bot ...................................................."
CRON_SECRET="..................................................."